* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 0;
  font-size: 22px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  padding: 20px;
}
.status {
  margin-bottom: 10px;
}
